*,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #6786a1;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
    padding: 6PX  0;
    font-family: sans-serif;
    font-size:small;
    
    
    
    
}
ul,li{
    text-decoration: none;
    list-style: none;
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline white
}
.list>ul{
    display: flex;
}
.list>ul>li{
    display:flex
}

.list>ul>li>a{
    /* background-color: purple; */
    color: white;
    padding: 0;
}
.list>ul>li>a>span{
    border-right: 0.75px solid #9c96b0 ;
    width: 20%;
    padding: 0 10px 0 10px;

}
.phone {
    color:white;
}
.menu>ul{
    display: flex;
}
.menu{
    width:1220px;
    height: 90px;
    align-items: center;
    padding: 6PX  0;
    font-family: sans-serif;
    font-size:14px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.origin{
    display: flex;
    justify-content:center
}
.menu>ul>li>a{
    padding:0 10px ;
    /* background-color: rgb(235, 71, 21); */
    display: flex;
    color: gray;
    position:relative;
    left: 260px;
    text-decoration: none;
    transition: 1s;
    

}
.menu>ul>li>a:hover{
    color: black;
}
p{
    color:black ;   
}
span{
    border-right: 0.75px solid #9c96b0 ;
    border-left:1px solid  #9c96b0 ;
    padding: 30px 38px;
    
   

}
img{
    width: 196px;
    height: 90px;
   z-index: 2;
}
.icon>.bin{
    margin-right:20px ;
    color: black;
    width:30px ;
    height: 30PX;
}
.icon>.shop{
    color:black
}
.main> .parent{
   
}

.main{
    
}
.parent{
    padding-top:100px;
    padding-left: 150px;
    background-image: url(../image/tender-couple-bg-1500x1000.jpg)  ;
    background-size: cover;
    width: 100%;
    height: 727px;
}


.parent2>h3, .p{
    width: 450px;
    height: 220px;
   
    font-family: sans-serif;
    
    
   
}
.parent2>h3{
    font-size: 40px;
    color: #2c2c2c;
    flex-direction:row-reverse
   
}
.parent2>.p{
    text-align: justify;
    top:150px;
    color: gray;
    font-size: 20px;
    padding-bottom: 300px;
    

}
/* BUTTOM */

.parent2{
    position: relative;
}
.parent>.parent2>.buttom1{
    height: 45px;
    margin: 0 20px 0 0;
    padding: 10px;
    background-color: #6786a1;
    border-style: none;
    border-radius: 3px;
    top: 30px;
    position: absolute;
    top: 300px
    
    
}

.parent>.parent2>.buttom2{
    height: 45px;
    padding: 10px;
    border: 2px solid rgb(61, 58, 58);
    border-radius: 3px;
  
    top: 30px;
    position: absolute;
    top: 300px;
    left: 200px
   
}
.parent>.parent2>.buttom1>a{
    color:white
   
}
.parent>.parent2>.buttom2>a{
    color:#2c2c2c;
}

/* transform */


     

.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    overflow: hidden;
    
}

.img1{
   background: url(../image/winter-girl-small-495x400.jpg) center center;
   background-size: cover;
   transform: scale(1);
   transition:0.5s ;

}
.img1:hover{
    transform: scale(1.1);
}
.img1:hover::after{
    background-color: transparent;
}
.img1::after{
    content: 'NEW WINTER COLLECTION';
    width: 100%;
    height: 100%;
    background-color: #719dc3a1;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
    line-height: 300px;
    color: white;
    font-family: sans-serif;
    font-size: large;

}
.img2{
    background:url(../image/couple-sitting-495x400.jpg) center center;
    background-size: cover;
    transform: scale(1);
    transition:0.5s ;
    overflow: hidden;
}
.img2:hover{
    transform: scale(1.1);
}
.img2::after{
    content: 'LATEST STREET CLOTHES';
    width: 100%;
    height: 100%;
    background-color: #719dc3a1;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
    line-height: 300px;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.img2:hover::after{
    background-color: transparent;
}
.img3{
    background: url(../image/girls-shopping-desat-495x400.jpg)center center;
    background-size: cover;
    transform: scale(1);
    transition:0.5s ;
    overflow: hidden;
}
.img3:hover{
    transform: scale(1.1);
}
.img3::after{
    content: 'FRESH SPORTSWEAR';
    width: 100%;
    height: 100%;
    background-color: #719dc3a1;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
    line-height: 300px;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.img3:hover::after{
    background-color: transparent;
}
.img4{
    background: url(../image/hipster-girls-working-495x400.jpg) center center;
    background-size: cover;
    transform: scale(1);
    transition:0.5s ;
    overflow: hidden;
}
.img4:hover{
    transform: scale(1.1);
}
.img4::after{
    content: 'FUNKY ACCECCOIRS';
    width: 100%;
    height: 300px;
    background-color: #719dc3a1;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
    line-height: 300px;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.img4:hover::after{
    background-color: transparent;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}
main>.recent{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    
}
.grid2.imag1{
    background-image: url(../image/woman12-450x450.jpg) ;
    background-size: cover;
}

